*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    width:97vw;
    height:150vh;
    /* background-color: #FFCE33; */
    /* background-image: url(oo.png);
    background-size: cover; */
    background: rgb(255,206,51);
background: linear-gradient(90deg, rgba(255,206,51,1) 12%, rgba(255,255,255,.9) 74%);
backdrop-filter: blur(8px);

   
}
.harshitt{position:relative;
    left:0;
    bottom:0;
    font-size: .7rem;
    color: rgb(205, 167, 28);
}
.harshitt a{
    text-decoration: none;
    color: rgb(205, 167, 28);

}
.container
{
    height:100%;
    width:97vw;;
    display: flex;
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
   
    
    

}
.card{
    height: 80vh;
    width: 45vw;
    background-color: rgba(27, 27, 27, 0.8);

    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 5px rgb(12, 10, 0);
    
}
.card .imm{
    height: 59%;
    width: 33%;
    
    border-radius: 8rem;
    border: 2px solid #FFCE33;
}
.card .imm img{
    height: 100%;
    width: 100%;
    border-radius: 8rem;
    object-fit: cover;
}
.card .imm:hover{
    border: 5px solid white;
    scale: 1.25;
    transition: .7s ease-in;
}
.card .text h1{
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size:4rem;
background: linear-gradient(to right, #34F1E9 9%, #FF281A 91%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.card .text h1:hover{
   
    scale: 1.1;
    transition: .7s ease;
    
}
.para{
    padding: .5rem;
    width:70vw; 
    height: 30vh;
    text-align: justify;
    color:rgb(12, 12, 11);
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.para p{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media  screen and (max-width:1025px) {
    body{
        height: 105vh;
    }
    .para{
        width:70vw;
        height: 40vh;
        text-align: justify;
        color:rgb(17, 17, 16);
        font-size:2rem;
    }
    .card .text h1{
        text-align: center;
    }
    .card .imm{
        height: 35vh;
        width: 45%;
     
        border-radius: 8rem;
        border: 2px solid #FFCE33;
    }
    .card{
        height: 50vh;
        width: 65vw;
    }
    .container{
        height: 104vh;
    }
}
@media  screen and (max-width:825px) {
    body{
        height: 130vh;
    }
    .container{
        height: 129vh;
    }
}
@media  screen and (max-width:770px) {
    body{
        height: 150vh;
    }
    .container{
        height: 148vh;
    }
}
@media  screen and (max-width:500px) {
    .para{
        width:70vw;
        height: 30vh;
        text-align: justify;
        color:rgb(49, 46, 41);
        font-size:.8rem;
    }
    .card .text h1{
        text-align: center;
        font-size: 2.5rem;
    }
    .card .imm{
        height: 45%;
        width: 45%;
        border-radius: 8rem;
        border: 2px solid #FFCE33;
    }
    .card{
        height: 55vh;
        width: 65vw;
    }
}
@media  screen and (max-width:440px) {
    body{
        height: 102vh;
    }
    .container{
        height: 100vh;
    }
    .para{
        width:70vw;
        height: 70vh;
        text-align: justify;
        color:rgb(9, 9, 9);
        font-size:1rem;
    }.para p{
        font-size: 1.3rem;
    }
    .card .text h1{
        text-align: center;
        font-size: 2.5rem;
    }
    .card .imm{
        height: 30vh;
        width: 60%;
      
        border-radius: 6rem;
        border: 2px solid #FFCE33;
    }
    .card{
        height: 40vh;
        width: 65vw;
    }
}
@media  screen and (max-width:380px) {
    body{
        height: 131vh;
    }
    .container{
        height: 130vh;
    }
}